* {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

body {
	background-color: black;
}

a {
	text-decoration: none;
}

.top-nav-bar {
	padding: 20px 16px;
}

.top-nav-bar .logo {
	float: left;
	font-family: 'Arial Black';
	font-size: 24px;
	padding-top: 3px;
	padding-bottom: 4px;
}

.top-nav-bar .rs {
	color: #e6686a;
	margin-right: 4px
}

.top-nav-bar .card {
	color: #9a9da2;
}

.top-nav-bar nav {
	font-size: 12px;
	float: right;
	padding: 12px;
}

.top-nav-bar > nav > ul > li {
	float: left;
	margin: 0 17px;
}

.top-nav-bar > nav > ul > li > a {
	color: rgba(255, 255, 255, 0.7);
	padding-bottom: 5px;
	font-weight: bold;
}

.top-nav-bar > nav > ul > li > a:hover {
	border-bottom: 3px solid #DC6465;
}