* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

kbd {
    border: 1px solid red;
    width: 2em;
    height: 2em;
    display: inline-block;
}

/*
    内联元素居中，在父元素上添加text-align: center;
*/
main {
    text-align: center
}

.wrapper {
    display: inline-block;
}

#content > div:nth-child(2) {
    margin-left: 1em;
}

#content > div:nth-child(3) {
    margin-left: 3em;
}


/*body {
    background: grey url(./wall.jpg) no-repeat center center;
}

#content {
    text-align: center;
}

#content .out-div:nth-child(1) {
    margin-left: 12px;
}


#content .inner-span {
    display: inline-block;
    padding: 20px;
}

.out-div {
    margin: 20px;
}

.inner-kbd {
    margin: 0 10px;
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    border: 1px solid #373737;
    color: #C5C5C5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
    position: relative;
    font-size: 16px;
    font-family: Helvetica;
}*/
